@import "tailwindcss";

:root {
  --bg-primary: #f5f5f5;
  --bg-surface: #ffffff;
  --bg-accent: #cbf281;
  --bg-hero: #4731d3;

  --text-primary: #111827;
  --text-secondary: #6b7280;
  --text-on-dark: #cbf281;

  --button-bg: #ffffff;
  --button-text: #4731d3;
}

.dark {
  --bg-primary: #0f172a;
  --bg-surface: #1e293b;
  --bg-accent: #16213e;
  --bg-hero: #1b1b2f;

  --text-primary: #f8fafc;
  --text-secondary: #cbd5e1;
  --text-on-dark: #ffffff;

  --button-bg: #2a2a40;
  --button-text: #ffffff;
}